body {
  font-family: "Roboto";
  background-color: #000;
}
.page__container {
  display: flex;
  justify-content: center;
}

.logo {
  fill: white;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  padding: 7px;
}
.logo:hover {
  border-radius: 50%;
  background-color: rgb(29, 155, 240);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  margin-top: 30px;
}
.menu__item {
  margin-bottom: 20px;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 15px;
}
.menu__item-link:hover {
  background-color: rgb(29, 155, 240);
  border-radius: 50px;
  color: #fff;
}

.main-page {
  width: 700px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.43);
  border-right: 1px solid rgba(255, 255, 255, 0.43);
}

.main__title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
  padding-top: 20px;
}

.search-icon {
  position: absolute;
  fill: rgb(113, 118, 123);
  width: 23px;
  height: 23px;
  left: 15px;
  top: 10px;
}
.card-body {
  color: #fff;
}
.user-name {
  color: #fff;
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
}

.user-email {
  color: #fff;
  font-size: 13px;
  margin: 0;
  margin-left: 15px;
  font-weight: 100;
}

.card-title {
  color: #fff;
}

.footer-page {
  margin-top: 5px;
  margin-left: 20px;
  height: 100%;
}

.footer__header-wrapper {
  position: fixed;
}
.footer__input {
  overflow: hidden;
  outline-style: none;
  border-radius: 20px;
  border: none;
  background-color: #202328;
  padding: 13px 50px;
  color: #fff;
}
